html
{
    scroll-behavior: smooth;
}

html, body
{
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #1b042f;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3a0867;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #590e9b;
}

body
{
    width: 100vw;
    height: auto;
    margin: 0;
    background-color: #10002b;
    color: #d0b2ef;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inicio
{
    display: grid;
    grid-template-rows:1fr;
    grid-template-columns: 1fr 3fr;
}

.inicio span
{
    font-size: 250px;
    justify-self: center;
}

.material-symbols-outlined
{
    color: #3c096c;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

/* INICIO */

.inicio h1
{
    font-size: 42px;
    justify-self: center;
}

.inicio p
{
    text-align: left;
    font-size: 24px;
}

/* PROYECTOS */

.proyectos h1
{
    margin: 0;
}

.proyectoContainer
{
    display: grid;
    grid-template-rows:1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.contactos h1
{
    margin: 0;
}

.contactos a
{
    color: #690eb8;
}

.projectListTitle h1
{
    text-align: center;
    margin: 0;
    font-size: 100px;
}

.projectListTitleShadow
{
    position: relative;
    width: 40%;
    height: 30%;
    background-color: #690eb89d;
    border-radius: 50%;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);   
    filter: blur(20px);
    z-index: -1;
}

.img0
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img0Container
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 1em;
}

.img0Container img
{
    width: auto;
    height: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img1, .img2
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1Container, .img2Container
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 1em;
}

.img1Container img, .img2Container img
{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FORMATO DE HOME */

.home
{
    width: 90%;
    height: 850px;
    margin: 50px 0;
    display: grid;
    grid-template-areas:
        "aboutme inicio"
        "aboutme proyectos"
        "aboutme contactos";
    grid-template-rows: 3fr 3fr 2fr;
    grid-template-columns: 1fr 3fr;
    gap: 2em;
}

.inicio, .inicioBlur
{
    grid-area: inicio;
}

.aboutme, .aboutmeBlur
{
    grid-area: aboutme;
}

.proyectos, .proyectosBlur
{
    grid-area: proyectos;
}

.contactos, .contactosBlur
{
    grid-area: contactos;
}

/* FORMATO DE PROYECTLIST */

.projectList
{
    width: 90%;
    margin: 0 0 50px;
    display: grid;
    gap: 2em;
}

.project
{
    margin: 0;
    display: grid;
    grid-template-areas:
        "projectInfo img0 img1"
        "projectInfo img0 img2";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 1fr 1fr;
    gap: 2em;
}

.projectInfo, .projectInfoBlur
{
    grid-area: projectInfo;
}

.img0, .img0Blur
{
    grid-area: img0;
}

.img1, .img1Blur
{
    grid-area: img1;
}

.img2, .img2Blur
{
    grid-area: img2;
}

/* GLASS EFECT */

.inicio, .aboutme, .proyectos, .contactos, .projectInfo, .img0, .img1, .img2
{
    position: relative;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(150px);
    -webkit-backdrop-filter: blur(150px);
    border-radius: 1em;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 2px 4px 6px #3c096c;
    z-index: 1;
    overflow: hidden;
    padding: 2em;
}

.inicioBlur, .aboutmeBlur, .proyectosBlur, .contactosBlur, .projectInfoBlur, .img0Blur, .img1Blur, .img2Blur
{
    position: relative;
    width: 50%;
    height: 50%;
    background: linear-gradient(to bottom right, #ce79ff, #690eb8);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* LA COSA PARA QUE SEA RESPONSIVA */

@media (min-width: 768px) and (max-width: 1370px)
{
    .home
    {
        width: 90%;
        height: auto;
        margin: 50px 0;
        display: grid;
        grid-template-areas:
            "inicio"
            "aboutme"
            "proyectos"
            "contactos";
        grid-template-rows: repeat(4, min-content);
        grid-template-columns: 1fr;
        gap: 2em;
    }

    .inicio
    {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .project
    {
        grid-template-areas:
            "projectInfo projectInfo"
            "img0 img1"
            "img0 img2";
        grid-template-rows: 3fr 2fr 2fr;
        grid-template-columns: 1fr 1fr;
    }

    .inicioBlur, .aboutmeBlur, .proyectosBlur, .contactosBlur, .projectInfoBlur, .img0Blur, .img1Blur, .img2Blur
    {
        width: 70%;
        height: 70%;
    }

    .img1Container img, .img2Container img
    {
        width: auto;
        height: 120%;
    }

    .projectListTitleShadow
    {
        width: 80%;
    }
}

@media (max-width:768px)
{
    body
    {
        background-color: #0c093a;
    }
}