:root {
  --font-base: clamp(14px, 1vw, 40px);
  --font-weight-light: 300;
  --font-weight-regular: 500;
  --font-weight-bold: 700;
  
  --color-main: #A91D3A;
  --color-contrast: #0B0C0C;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  
  font-family: 'Spline Sans Mono', monospace;
  font-size: var(--font-base);
  font-weight: var(--font-weight-regular);
  
  background-color: var(--color-contrast);
  color: var(--color-main);

  overflow: hidden;
}