.section_list {
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, clamp(100px, 10.42vw, 400px)); */

    gap: 1rem;

    transition: 150ms ease;
}

@media (width <= 540px) {
    .section_list {
        flex-direction: column;
    }
}